---
layout: item.hbs
title: Fonts
tags: brand
fonts:
- family: Georgia
  stack: 'georgia, serif'
  sass: '$ff-serif'
  sizes:
  - 60
  - 42
  - 36
  - 27
  - 21
  - 18
  - 16
- family: Arial
  stack: 'arial, sans-serif'
  sass: '$ff-sans'
  sizes:
  - 21
  - 18
  - 16
  - 14
  - 12
---
{{#fonts}}
<div class="sg-font">
  <header class="sg-font-header">
    <h2 class="sg-font-title sg-subhead">{{family}}</h2>
    <dl class="sg-usage--compact">
      <dt>Stack</dt>
      <dd><code>{{stack}}</code></dd>
      <dt>Sass</dt>
      <dd><code>{{sass}}</code></dd>
    </dl>
  </header>
  <dl class="sg-font-samples" style="font-family: {{stack}};">
  {{#sizes}}
    <dt class="sg-font-size">{{this}}px</dt>
    <dd class="sg-font-sample" style="font-size: {{this}}px;">The quick brown fox jumps over the lazy dog.</dd>
  {{/sizes}}
  </dl>
</div>
{{/fonts}}
