<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  </head>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}} | {{site.client}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="{{assets}}/styles/sg.css">
    <link rel="stylesheet" href="{{assets}}/styles/github.css">
    <!-- Reference your project's stylesheets below -->
    <!--<link rel="stylesheet" href=""> -->
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header class="masthead subhead">
      <h1> {{site.client}} </h1>
      <h2> <a href="/">{{site.title}}</a> </h1>
    </header>
    <div class="main">
      {{> body }}
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="{{assets}}/scripts/highlight.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    <footer class="">
      Built by <address><a href="{{site.agency-url}}">{{site.agency}}</a></address>
    </header>
  </body>
</html>
